/*----------Background-Colors------*/
.extraDarkBlue{
    background-color: $extraDarkBlue;
}
.darkBlue{
    background-color: $darkBlue;
}

.black{
    background-color: $black;
}
.lightBlack{
    background-color: $lightBlack;
}

.green{
    background-color: $green;
}

.darkGray{
    background-color: $darkGray;
}
.lightGray{
    background-color: $lightGray;
}
.almostWhite{
    background-color: $almostWhite;
}