    $extraDarkBlue: #01080e;
    $darkBlue: #1A3544;
    $green: #50b827;
    $darkGray: #47525E;
    $lightGray: #8190A5;
    $extraLightGrey: #F2F2F2;
    $black: #000;
    $lightBlack: rgb(20, 18, 18);
    $almostWhite: #FAFAFA;
    $white: #fff;

    // $generalFontSize: 2em;