.titulo{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    img{
        height: 30px;
        margin-right: 40px;
    }
    h2{
        font-weight: 500;
    }
}

@media screen and (max-width: 360px){
    .titulo{
        img{
            margin-right: 20px;
        }
    }
}