/*-------------------------------------Home -desktop -------------------------------*/
/* ---------- Header Banner -------- */
    .header__banner {
        background-image: url("../assets/img/home/banner_index-min.jpg");
        padding: 50px;
        max-width: 100%;
        height: 450px;
        display: flex;
        // align-items: center;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, auto);
        grid-template-areas: "header__banner_logo     header__banner_text";
    
        .header__banner--logo {
            padding-top: 90px;
            grid-area: header__banner_logo;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $white;
    
            h2 {
                letter-spacing: 9px;
            }
        }
    
        .header__banner--text {
            // font-family: 'Source Code Pro', monospace;
            grid-area: header__banner_text;
            padding-top: 90px;
            line-height: 40px;
        }
    } 



/* ---------- Servicios -------- */
.servicios {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "servicios__web       servicios__aplicaciones";

    .servicios__web {
        grid-area: servicios__web;
    }

    .servicios__aplicaciones {
        grid-area: servicios__aplicaciones;
    }

    img {
        width: 100%;
    }
}

/*----Home - Large -------*/

@media screen and(max-width: 992px) {
    .header__banner {
        height: 300px;

        .header__banner--logo {
            padding-top: 30px;
        }

        .header__banner--text {
            padding-top: 30px;
            line-height: 30px;
        }
    }
}

/*------ Home - Medium-------*/
@media screen and (max-width: 768px) {

    .servicios {
        grid-template-columns: 1fr;
        grid-template-areas:
            "servicios__web"
            "servicios__aplicaciones";

        .servicios__web--content {
            text-align: center;

            .servicios__web--content--link {
                display: flex;
                justify-content: space-around;
            }
        }

        .servicios__aplicaciones--content {
            margin-top: 30px;
            text-align: center;

            .servicios__aplicaciones--content--link {
                display: flex;
                justify-content: space-around;
            }
        }

        .servicios__multimedia--content {
            margin-top: 30px;
            text-align: center;

            .servicios__multimedia--content--link {
                display: flex;
                justify-content: space-around;
            }
        }
    }
}

/*------Home - Long Cell ----------*/
@media screen and (max-width: 576px) {
    .header__banner {
        padding-top: 30px;
        height: 400px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header__banner_text"
            "header__banner_logo";

        .header__banner--text {
            padding-top: 10px;
            line-height: 30px;
        }
    }
}

@media screen and (max-width: 380px){
    .header__banner{
        padding-top: 0px;
        height: 600px;
    }
}

/*------ Home - Tall Cell-------*/
@media screen and (max-width: 320px) {

    .header__banner {
        height: 600px;
        display: flex;
        flex-direction:column-reverse;
    }


    .servicios {
        grid-template-columns: 1fr;
        grid-template-areas:
            "servicios__web"
            "servicios__aplicaciones";
    }

    .testimonios__img {
        img {
            margin-left: 30px;
        }
    }
}