
/* ---------- Tecnologías -------- */
.tecnologias {
    &__img{
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        img{
            margin-right: 50px;
            margin-bottom: 50px;
            height: 70px;
        }
    }
}

@media screen and (max-width: 368px){
    .tecnologias{
        &__img{
            img{
                height: 50px;
                translate: 20px;
            }
        }
    }
}

/* ---Títulos y certificaciones--------*/
.titulosCertificaciones{
    .sectionContent{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .certifications{
            margin-right: 0px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            ul{
                margin-top: 25px;
                margin-bottom: 50px;
                text-align: center;
                list-style: none;
            }
        }
    }
}

@media screen and (max-width: 368px){
    .certifications{
        img{
            height: 50px;
        }
    }
}


/* ---------- Contacto -------- */
.contacto{
    &__fotoDescripcion{
        display: flex;
        justify-content: space-around;
        align-items: center;

        img{
            margin-right: 100px;
            height: 200px;
        }
        &--descripcion{
            p{
                margin-bottom: 20px;
            }
        }
    }
    &__social{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            margin-right: 50px;
            height: 50px;
        }
    }
}
