
/* ---------- Tecnologías -------- */
.tecnologias {
    &__img{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        img{
            margin-right: 50px;
            margin-bottom: 50px;
            height: 70px;
        }
    }
}

/* ---------- Contacto -------- */
.contacto{
    &__fotoDescripcion{
        display: flex;
        justify-content: space-around;
        align-items: center;

        img{
            margin-right: 100px;
            height: 200px;
        }
        &--descripcion{
            p{
                margin-bottom: 20px;
            }
        }
    }
    &__social{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            margin-right: 50px;
            height: 50px;
        }
    }
}
