/*------------------------------------------ Servicios -Desktop -------------------------------------*/
.navServices{
    ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
        li{
            font-size: $generalFontSize / 1.5;
            cursor:pointer;
        }
        .active{
            border-bottom: solid $darkBlue 5px;
            padding-bottom: 8px;
        }
    }
}

@media screen and (max-width: 576px){
    .navServices{
        ul{
            // flex-direction: column;
            // align-items:center;
            text-align: center;

            li{
                padding: 20px;
            }
        }
    }
}

@media screen and (max-width: 380px){
    .navServices{
        ul{
            flex-direction: column;
            align-items:center;
        }
    }
}
/*End Media Screen 480px*/